.inputBox {
  width: 600px;
  border-width: 0px 0px 2px 0px;
  border-color: #979dac;
  border-style: solid;
  margin-top: 60px;
  position: relative;
}
.inputBox input {
  width: 600px;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 7px 0px;
}
.inputBox label {
  color: #979dac;
  font-weight: 500;
  position: absolute;
  left: 0px;
  font-size: 20px;
  top: 8px;
  pointer-events: none;
  transition: 0.2s;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.inputBox input:focus + label,
.inputBox input:valid + label {
  top: -15px;
  font-size: 15px;
  color: #f48c06;
  font-weight: 600;
}
input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input:focus::-webkit-datetime-edit {
  color: #979dac !important;
}
